<section class="container-fluid">
  <div class="row">
    <div class="col-4 text-center">
      <h5>Playlist 1</h5>
      <div class="cover-image">
          <i class="fas fa-music fa-9x"></i>
      </div>
      <button class="btn btn-success"type="button">Play</button>
    </div>
    <div class="col-8">

      <!--Item 1 -->
      <div class="row song-item">
        <div class="col-1"><i class="fas fa-play"></i></div>
        <div class="col-10">
          <div class="song-title">Cancion</div>
          <div class="song-description">Artista - Album</div>
        </div>
        <div class="col-1">
            <span>3:56</span>
        </div>
      </div>

      <div class="row song-item">
        <div class="col-1"><i class="fas fa-play"></i></div>
        <div class="col-10">
          <div class="song-title">Cancion</div>
          <div class="song-description">Artista - Album</div>
        </div>
        <div class="col-1">
            <span>3:56</span>
        </div>
      </div>

      <div class="row song-item">
        <div class="col-1"><i class="fas fa-play"></i></div>
        <div class="col-10">
          <div class="song-title">Cancion</div>
          <div class="song-description">Artista - Album</div>
        </div>
        <div class="col-1">
            <span>3:56</span>
        </div>
      </div>

      <div class="row song-item">
        <div class="col-1"><i class="fas fa-play"></i></div>
        <div class="col-10">
          <div class="song-title">Cancion</div>
          <div class="song-description">Artista - Album</div>
        </div>
        <div class="col-1">
            <span>3:56</span>
        </div>
      </div>

      <div class="row song-item">
        <div class="col-1"><i class="fas fa-play"></i></div>
        <div class="col-10">
          <div class="song-title">Cancion</div>
          <div class="song-description">Artista - Album</div>
        </div>
        <div class="col-1">
            <span>3:56</span>
        </div>
      </div>

      <div class="row song-item">
        <div class="col-1"><i class="fas fa-play"></i></div>
        <div class="col-10">
          <div class="song-title">Cancion</div>
          <div class="song-description">Artista - Album</div>
        </div>
        <div class="col-1">
            <span>3:56</span>
        </div>
      </div>

      <div class="row song-item">
        <div class="col-1"><i class="fas fa-play"></i></div>
        <div class="col-10">
          <div class="song-title">Cancion</div>
          <div class="song-description">Artista - Album</div>
        </div>
        <div class="col-1">
            <span>3:56</span>
        </div>
      </div>

      <div class="row song-item">
        <div class="col-1"><i class="fas fa-play"></i></div>
        <div class="col-10">
          <div class="song-title">Cancion</div>
          <div class="song-description">Artista - Album</div>
        </div>
        <div class="col-1">
            <span>3:56</span>
        </div>
      </div>

    </div>
  </div>
</section>
